@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	
}

.panda {
	width: 100%;
	height: 310px;
	background: url(../img/bg.jpg) center top;
}

.title {
	width: 100%;
	height: 60px;
	text-align: center;
	padding: 15px 0;
}

.swiper-slide {
	background-color: aqua;
}

.swiper-slide {
	border: 1px solid red;
	height: 200px;
}

.full {
}

.swiper-button-prev,.swiper-button-next{
	display: block;
	width: 14.7%;
	height: 100%;
	top: 0;
	margin: 0;
	background: none;
}

.swiper-button-prev{
	left: 0;
}
.swiper-button-next{
	right: 0;
	width: 13.7%;
}

.swiper-button-prev span{
	background-color: rgba(26,26,26,0.34);
	width: 100px;
	height: 100px;
}
